/* everything */

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    list-style: none;
    color: white;
    text-decoration: none;
}

/* background functions */

body{
    overflow: hidden;
    background-color: rgb(10, 10, 10);
    background-size: 80px 80px;
    background-image:
    linear-gradient(to right, rgb(32,32,32) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(32,32,32) 1px, transparent 1px);
    overflow-x: hidden;
   
}

.main-body{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main-body > .snap{
    scroll-snap-align: start;
}

.box{
    height: 100vh;
    width: 100%;
}

/* grids */

.one-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.two-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.three-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

/* contact form stuff */

.ContactCont{
    margin: 7vh 35vw 0 !important;
}

.Cont{
    border: 1px solid white;
    text-align: center;
    margin: 3vh 35vw 0;
    border-radius: 16px;
    box-shadow: 0 0 10px 5px white;
    padding: 30px 0;
    background-image: linear-gradient(135deg, #181818, #101010);
    animation: Down 1.2s;
}

.filter-item{
    display: none;
}

.successbox, .errorbox, .warnbox{
    display: inline-flex;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.errorbox{
    border: 1px red solid; 
    background-color: rgba(139, 0, 0, 0.3);
}

.errorbox h5, .warnbox h5, .successbox h5{
    margin-left: 5px;
    margin-top: 6px;
}

.warnbox{
    border: 1px rgb(255, 180, 0) solid; 
    background-color: rgba(255, 180, 0, 0.3);
}

.successbox{
    border: 1px rgb(0, 255, 85) solid; 
    background-color: rgba(0, 255, 85, 0.3);
}

.check{
    display: inline-flex;
}

.confmes{
    font-size: 13px;
    display: inline;
    color: #a1a1a1;
    padding-left: 20px;
    margin-right: 13%;
    text-align: left;
    margin-bottom: 30px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 2.8%;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #101010;
    color: #fff;
    border: 1px solid white;
    box-shadow: inset 0 0 4px 2px black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.6s, color 0.3s;
    margin-left: 18vw;
    width: auto;
}

input, select, textarea{
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #101010;
    border-radius: 8px;
    width: 10vw;
    color: white;
}

textarea {
    width: 65%;
    max-width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"]:hover{
    background-color: white;
    transform: scale(1.05);
    color: black;
}

/* Other */

.LinkText{
    color:rgb(203, 173, 3);
    text-decoration: underline;
}