html, body { height: 100% }
.Gup{
    background-image: linear-gradient(rgb(8, 10, 50) , black);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.Gdown{
    background-image: linear-gradient(black , rgb(8, 10, 50));
    background-repeat: no-repeat;
}