html, body { height: 100% }
.Gup{
    background-image: linear-gradient(rgb(4, 5, 23) , black);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.Gdown{
    background-image: linear-gradient(black , rgb(4, 5, 23));
    background-repeat: no-repeat;
}