footer{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footerlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    animation: Opacity .8s;
    gap: 2%;
    margin: 0 1% 0 1%;
    padding-bottom: 40px;
}

.footerlist h3 {
    color: whitesmoke;
    padding-bottom: 10px;
    text-align: center;
    font-size: large !important;
}

.footerlist h4 {
    color: #a8a8a8;
    text-align: center;
    padding-bottom: 5px;
}

.footerlist h4 a {
    color: rgb(203, 173, 3);
}

.Copyright p{
    font-size: 16px !important;
    margin: 100px 0 0 30px;
    color: #a8a8a8;
    font-weight: 600;
    text-align: center;
}

.Copyright p a{
    color: rgb(203, 173, 3);
}

@media(max-width: 768px){
    footer {
        padding-bottom: 0px;
        margin-top: 100px;
        padding-top: 50px;
    }
    
    .footerlist{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    
    .footerlist h3 {
        padding-bottom: 10px;

    }
}

@media screen and (max-width: 500px){
    .footerlist{
        gap: 10px;
        padding-bottom: 8px;
    }
    .footerlist h3 {
        font-size: 15px !important;
    }
    .footerlist h4, .footerlist h4 a {
        font-size: 13px !important;
    }
    .Copyright p {
        font-size: 13px !important;
    }

}