@keyframes ColorChange {
    from {
        color: lightgray
    }

    to {
        color: #fff
    }
}

@keyframes ColorChangeBack {
    from {
        color: #fff
    }

    to {
        color: lightgray
    }
}

.Top-Buttons {
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    margin-left: -20px;
}

.Top-Buttons li {
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin-left: 100px;
    position: relative;
}

.Top-Buttons li:first-child { margin-left: 0 }

.Top-Buttons li a {
    animation: ColorChangeBack .8s;
    color: lightgray;
    text-shadow: 2px 2px 4px #000000a6;
}

.Top-Buttons li a:hover {
    animation: ColorChange .8s;
    color: #fff
}

.Top-Buttons li a::after {
    background-color: white;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
    width: 100%
}

.Top-Buttons li a:hover::after {
    transform: scaleX(1);
    transform-origin: left
}

.First-Layer a{
    font-size: 25px;
}

.Second-Layer a{
    font-size: 22px;
}

#templates {
    transform: translateX(300%);
    animation-delay: 0.5s;
    animation: moveHome 1s forwards;
}

#services {
    transform: translateX(150%);
    animation-delay: 0.5s;
    animation: moveHome 1s forwards;
}

#websites {
    transform: translateX(-150%);
    animation-delay: 0.5s;
    animation: moveHome 1s forwards;
}

#contact {
    transform: translateX(-300%);
    animation-delay: 0.5s;
    animation: moveHome 1s forwards;
}

.open-slide a p {
    align-items: center;
    color: #fff;
    font-size: 60px;
    padding-top: 50px
}

.hamburger p {
    display: none;
    margin-left: 50px
}

.hamburger {
    text-decoration: none
}

.side-nav {
    background-color: #535353;
    border-color: #000;
    border-radius: 10px;
    height: 100vh;
    left: 0;
    opacity: .95;
    overflow: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0, 5s;
    width: 0;
    z-index: 1
}

.side-nav a {
    animation: ColorChangeBack 1s;
    color: lightgray;
    display: block;
    font-size: 22px;
    margin-right: 20px;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    transition: .3s
}

.side-nav a:hover {
    animation: ColorChange .5;
    color: #fff
}

.side-nav .btn-close {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 22px;
    top: 0
}

@media screen and (max-width: 1060px) {
    .Top-Buttons li {
        margin-left: 50px;
    }
}

@media screen and (max-width: 768px) {
    .Top-Buttons {
        display: none
    }

    .hamburger p {
        display: block
    }

    .hamburger {
        display: block;
        margin-left: 50px;
        width: 53px
    }
}

@media screen and (max-width: 600px) {
    .open-slide a p {
        font-size: 40px;
        padding-top: 40px
    }

    .hamburger { margin-left: 0 }
}

@media screen and (max-width: 415px) { 
    .open-slide a p { font-size: 35px }
}