.box h3{
    padding: 20px 40px 20px;
    font-size: 35px;
}

.box p{
    font-size: 18px;
}

.web{
    width: 26vw;
}

.web a{
    float: right;
    font-size: 22px;
    margin: 30px 32px 0px;
    border: white 1px solid;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.5s, color 0.3s, transform 0.5s;
}

.web a:hover{
    color: black;
    background-color: white;
    transform: scale(1.05);
}

.klc{
    width: 20vw !important;
}

.web img{
    width: 6.4vw;
}