.filter-background{
    background-image: linear-gradient(135deg, #181818, #101010);
    border: 1px solid white;
    border-radius: 55px;
    float: right;
    padding: 10px 10px 1px;
    cursor: pointer;
    margin: 2px 75px 0 0;
}

.filter-options{
    position: fixed;
    top: 0;
    right: -250px;
    width: 280px;
    height: 100%;
    background-color: rgb(10, 10, 10);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    box-sizing: border-box;
    padding: 20px;
    background-position: center;
    background-image:
    linear-gradient(45deg, rgb(32, 32, 32) 0%, transparent 3%, transparent 51%, rgb(32, 32, 32) 42%, rgb(32, 32, 32) 50%, transparent 53%, transparent),
    linear-gradient(-45deg, rgb(32, 32, 32) 0%, transparent 3%, transparent 51%, rgb(32, 32, 32) 42%, rgb(32, 32, 32) 50%, transparent 53%, transparent);
    background-size: 80px 80px;
    z-index: 1;
}

.filter-options.open {
    display: block;
    right: 0;
    animation: FarRight 0.5s;
}

.close-filter {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.filter-options h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.filter-options label {
    display: flex;
    font-size: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: color 0.2s ease;
}

.filter-options input[type="checkbox"] {
    transform: scale(1.3); /* Larger checkboxes for better visibility */
    width: 100%;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.templates{ margin-top: 100px }

.close-filter:hover { color: #f00; }

.filter-options li:first-child input, .filter-options li:nth-child(3) input{ margin-left: 54px; }

.filter-options label:hover { color: #ddd; }

.filter-item{
    transition: transform 0.5s;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.filter-item p{ max-width: 480px }

.filter-item:hover{ transform: scale(1.05) }

.filter-options .filter-checkbox:last-child { margin-bottom: 30px }


.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
    max-width: 90%;
}

#modal-content-container {
    border: 1px solid white;
    gap: 20px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 0 10px 5px white;
    padding: 20px;
    background-image: linear-gradient(135deg, #181818, #101010);
    width: 80%;
    height: 80%;
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.modal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
}

.modal-info h3 {
    font-size: 24px
}

.modal-info h4 {
    margin-top: 10px;
    font-size: 18px;
}

.modal-info p {
    margin-top: 5px;
}

.dropcont{
    flex-grow: 1;
}

.choose-theme-button {
    padding: 10px 15px;
    background-color: #101010;
    color: #fff;
    border: 1px solid white;
    box-shadow: inset 0 0 4px 2px black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.6s, transform 0.6s, color 0.3s;
    margin-left: 18vw;
    width: auto;
}

.choose-theme-button:hover {
    background-color: white;
    transform: scale(1.05);
    color: black;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1650px) {
    .filter-background {
        margin: 2px 50px 0 0;
        padding: 8px 8px 1px;
    }

    .filter-options {
        width: 240px;
    }

    .filter-options h3 {
        font-size: 22px;
    }

    .filter-options label {
        font-size: 16px;
    }

    .filter-options input[type="checkbox"] {
        transform: scale(1.2);
    }

    .filter-item {
        padding-left: 20px;
        padding-right: 20px;
        width: 85%;
    }

    .filter-item img {
        width: 85%;
    }

    .filter-item p {
        max-width: 400px;
    }
    
}

@media (max-width: 1024px) {
    .filter-background {
        margin: 2px 50px 0 0;
        padding: 8px 8px 1px;
    }

    .filter-options {
        width: 240px;
    }

    .filter-options h3 {
        font-size: 22px;
    }

    .filter-options label {
        font-size: 16px;
    }

    .filter-options input[type="checkbox"] {
        transform: scale(1.2);
    }

    .filter-item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filter-item p {
        max-width: 400px;
    }
}

@media (max-width: 800px) {
    .filter-background {
        margin: 2px 25px 0 0;
        padding: 6px 6px 1px;
    }

    .filter-options {
        width: 200px;
    }

    .filter-options h3 {
        font-size: 20px;
    }

    .filter-options label {
        font-size: 14px;
    }

    .filter-options input[type="checkbox"] {
        transform: scale(1.1);
    }

    .filter-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .three-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-item h3 {
        font-size: 16px;
    }

    .filter-item p {
        max-width: 350px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .filter-background {
        margin: 2px 10px 0 0;
        padding: 4px 4px 1px;
    }

    .filter-options {
        width: 180px;
    }

    .filter-options h3 {
        font-size: 18px;
    }

    .filter-options label {
        font-size: 12px;
    }

    .filter-options input[type="checkbox"] {
        transform: scale(1);
    }

    .filter-item {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 300px;
    }

    .three-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .filter-item p {
        max-width: 300px;
    }
}

