/* Inframe Right And Down Animation */

@keyframes Opacity{
    from{
        opacity: 0;
        transform: translateX(-20px) translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

/* Inframe Right Animation */

@keyframes RightAnim{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Fade Animation */

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}