footer {
    background-color: #272727;
    padding-bottom: 30px;
    margin-top: 100px;
    padding-top: 50px;
    border-radius: 10px 10px 0 0;
    position: absolute;
}

.footerlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    animation: Opacity .8s;
    gap: 2%;
    margin: 0 1% 0 1%;
}

.footerlist h3 {
    color: whitesmoke;
    padding-bottom: 10px;
    text-align: center;
}

.footerlist h4 {
    color: #a8a8a8;
    text-align: center;
}

.footerlist h4 a { color: lightsalmon }

.section-3{ text-align: center }

.FirstLogo {
    width: 35px;
    margin-top: 10px;
}

.Logo {
    width: 35px;
    margin-left: 10px;
}

.section-4{ text-align: center }

.FirstAccreditation{
    width: 60px;
    margin-top: 10px;
}

.Accreditation{
    width: 60px;
    margin-left: 10px;
}

.Copyright p{
    font-size: 16px;
    margin: 100px 0 0 30px;
    color: #dfdfdf;
    font-weight: 600;
    text-align: left;
}

.Copyright p a{ color: rgb(254, 137, 91) }

@media(max-width: 768px){
    footer { padding-bottom: 0px }
    
    .footerlist{
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    
    .FirstLogo { width: 32px }
    
    .Logo {
        width: 32px;
        margin-left: 20px;
    }
}