header {
    background-color: #9cb1d0;
    background-image: url(/Images/Banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px #000000a6;
    height: 90vh;
    padding-bottom: 80px;
    width: 100%
}

.Title {
    font-size: 40px;
    margin-top: 200px;
    position: absolute
}

.HomeBtn {
    animation: Opacity .8s;
    margin-left: 100px
}

.Title h2 {
    animation: RightAnim 1.4s;
    color: #fff;
    font-size: 46px;
    font-style: italic;
    font-weight: 500;
    margin-left: 150px;
    padding-top: 15px;
    text-shadow: 3px 3px 6px #000000d9
}

.TitleBtn {
    animation: RightAnim 1.4s;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 4px 4px 6px #000000d9;
    color: #fff;
    display: inline-flex;
    font-size: 40px;
    margin: 50px 0 0 230px;
    padding: 20px 25px;
    text-shadow: 4px 4px 6px #000000d9;
    transition: color 0.3s, background-color 0.3s, transform .2s
}

.TitleBtn:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1)
}

.Top-Buttons {
    float: right;
    margin-right: 100px;
    padding-top: 140px
}

.Top-Buttons li {
    animation: Opacity .8s;
    float: left;
    font-size: 19px;
    font-weight: 700;
    margin-left: 100px;
    position: relative
}

.Top-Buttons li a {
    animation: ColorChangeBack .8s;
    color: lightgray;
    text-shadow: 2px 2px 4px #000000a6
}

.Top-Buttons li a:hover {
    animation: ColorChange .8s;
    color: #fff
}

.Top-Buttons li a::after {
    background-color: #9cb1d0;
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 25px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease;
    width: 100%
}

.Top-Buttons li a:hover::after {
    transform: scaleX(1);
    transform-origin: left
}

.open-slide a p {
    align-items: center;
    color: #f0f0f0;
    font-size: 35px;
    padding-top: 50px;
}

.hamburger p {
    display: none;
    margin-left: 50px;
}

.hamburger {
    text-decoration: none;
}

.side-nav {
    background-color: #333;
    border-color: #222;
    border-radius: 10px;
    height: 100vh;
    left: 0;
    opacity: .95;
    overflow: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: width 0.5s ease;
    width: 0;
    z-index: 1;
}

.mobile-nav-buttons a {
    animation: ColorChangeBack 1s;
    color: #b0b0b0;
    display: block;
    font-size: 22px;
    margin-right: 20px;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    border-left: 4px solid transparent;
}

.btn-close:hover{
    background-color: transparent;
}

.mobile-nav-buttons a:hover {
    animation: ColorChange .5;
    color: #fff;
    background-color: #444;
    border-left: 4px solid #fff;
}

.side-nav .btn-close {
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 22px;
    top: 0;
    color: #fff; 
    cursor: pointer;
}

@keyframes ColorChange {
    0% { color: #b0b0b0; }
    100% { color: #fff; }
}

@keyframes ColorChangeBack {
    0% { color: #fff; }
    100% { color: #b0b0b0; }
}

@media screen and (max-width: 1300px) {
    header {
        height: 90vh
    }

    .Title {
        font-size: 20px;
        margin-top: 200px;
        position: absolute
    }

    .HomeBtn {
        animation: Opacity .8s;
        margin-left: 75px
    }

    .HomeBtn img {
        margin-left: 150px;
        margin-top: 0;
        position: absolute;
        width: 60%
    }

    .Title h2 {
        animation: RightAnim 1.4s;
        color: #fff;
        font-size: 35px;
        font-style: italic;
        font-weight: 500;
        margin-left: 200px;
        padding-top: 125px;
        text-shadow: 3px 3px 6px #000000d9
    }

    .TitleBtn {
        animation: RightAnim 1.4s;
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 4px 4px 6px #000000d9;
        color: #fff;
        display: inline-flex;
        font-size: 35px;
        margin: 50px 0 0 240px;
        padding: 15px 20px;
        text-shadow: 4px 4px 6px #000000d9;
        transition: color 0.3s, background-color 0.3s, transform .2s
    }

    .TitleBtn:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.1)
    }

    .Top-Buttons {
        float: right;
        margin-right: 100px;
        padding-top: 100px
    }

    .Top-Buttons li {
        animation: Opacity .8s;
        float: left;
        font-size: 19px;
        font-weight: 700;
        margin-left: 100px;
        position: relative
    }

    .Top-Buttons li a {
        animation: ColorChangeBack .8s;
        color: lightgray;
        text-shadow: 2px 2px 4px #000000a6
    }

    .Top-Buttons li a:hover {
        animation: ColorChange .8s;
        color: #fff
    }

    .Top-Buttons li a::after {
        background-color: #9cb1d0;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 25px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s ease;
        width: 100%
    }

    .Top-Buttons li a:hover::after {
        transform: scaleX(1);
        transform-origin: left
    }
}

@media screen and (max-width: 1200px) {
    header {
        height: 90vh
    }

    .Title {
        font-size: 40px;
        margin-top: 200px;
        position: absolute
    }

    .HomeBtn {
        animation: Opacity .8s;
        margin-left: 75px
    }

    .HomeBtn img {
        margin-left: 150px;
        margin-top: 0;
        position: absolute;
        width: 65%
    }

    .Title h2 {
        animation: RightAnim 1.4s;
        color: #fff;
        font-size: 45px;
        font-style: italic;
        font-weight: 500;
        margin-left: 200px;
        padding-top: 125px;
        text-shadow: 3px 3px 6px #000000d9
    }

    .TitleBtn {
        animation: RightAnim 1.4s;
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 4px 4px 6px #000000d9;
        color: #fff;
        display: inline-flex;
        font-size: 40px;
        margin: 50px 0 0 280px;
        padding: 20px 25px;
        text-shadow: 4px 4px 6px #000000d9;
        transition: color 0.3s, background-color 0.3s, transform .2s
    }

    .TitleBtn:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.1)
    }

    .Top-Buttons {
        float: right;
        margin-right: 100px;
        padding-top: 100px
    }

    .Top-Buttons li {
        animation: Opacity .8s;
        float: left;
        font-size: 19px;
        font-weight: 700;
        margin-left: 100px;
        position: relative
    }

    .Top-Buttons li a {
        animation: ColorChangeBack .8s;
        color: lightgray;
        text-shadow: 2px 2px 4px #000000a6
    }

    .Top-Buttons li a:hover {
        animation: ColorChange .8s;
        color: #fff
    }

    .Top-Buttons li a::after {
        background-color: #9cb1d0;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 25px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s ease;
        width: 100%
    }

    .Top-Buttons li a:hover::after {
        transform: scaleX(1);
        transform-origin: left
    }
}

@media screen and (max-width: 1060px) {
    header {
        height: 90vh
    }

    .HomeBtn {
        animation: Opacity .8s;
        margin-left: 0
    }

    .HomeBtn img {
        margin-left: 120px;
        margin-top: 0;
        position: absolute;
        width: 70%
    }

    .Title h2 {
        animation: RightAnim 1.4s;
        color: #fff;
        font-size: 45px;
        font-style: italic;
        font-weight: 500;
        margin-left: 60px;
        padding-top: 125px;
        text-shadow: 3px 3px 6px #000000d9
    }

    .TitleBtn {
        animation: RightAnim 1.4s;
        border: 2px solid #fff;
        border-radius: 15px;
        box-shadow: 4px 4px 6px #000000d9;
        color: #fff;
        display: inline-flex;
        font-size: 40px;
        margin: 50px 0 0 130px;
        padding: 20px 25px;
        text-shadow: 4px 4px 6px #000000d9;
        transition: color 0.3s, background-color 0.3s, transform .2s
    }

    .TitleBtn:hover {
        background-color: #fff;
        color: #000;
        transform: scale(1.1)
    }

    .Top-Buttons {
        float: left;
        margin-left: 10px;
        margin-right: 0;
        padding-top: 100px
    }

    .Top-Buttons li {
        animation: Opacity .8s;
        float: left;
        font-size: 19px;
        font-weight: 700;
        margin-left: 50px;
        position: relative
    }

    .Top-Buttons li a {
        animation: ColorChangeBack .8s;
        color: lightgray;
        text-shadow: 2px 2px 4px #000000a6
    }

    .Top-Buttons li a:hover {
        animation: ColorChange .8s;
        color: #fff
    }

    .Top-Buttons li a::after {
        background-color: #9cb1d0;
        bottom: 0;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 25px;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .3s ease;
        width: 100%
    }

    .Top-Buttons li a:hover::after {
        transform: scaleX(1);
        transform-origin: left
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 45vh
    }

    .Title {
        font-size: 10px;
        margin-top: 0
    }

    .HomeBtn img {
        margin-left: 250px;
        margin-top: -100px;
        position: absolute;
        width: 65%
    }

    .Title h2 {
        font-size: 25px;
        margin: 50px 0 0 220px;
        text-align: center
    }

    .TitleBtn {
        font-size: 25px;
        margin: 30px 0 0 240px;
        padding: 15px 20px;
        text-align: center
    }

    .Top-Buttons {
        display: none
    }

    .open-slide a p {
        font-size: 60px;
        padding-top: 50px
    }

    .hamburger p {
        display: block
    }

    .hamburger {
        display: block;
        margin-left: 50px;
        width: 53px
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 45vh
    }

    .Title {
        font-size: 10px;
        margin-top: 0
    }

    .HomeBtn {
        margin-left: 0
    }

    .HomeBtn img {
        margin-left: 160px;
        margin-top: -65px;
        position: absolute;
        width: 55%
    }

    .Title h2 {
        font-size: 20px;
        margin: 40px 70px 0;
        position: absolute;
        text-align: center
    }

    .TitleBtn {
        font-size: 18px;
        margin: 220px 96px 0;
        padding: 15px 20px;
        text-align: center
    }

    .Top-Buttons {
        display: none
    }

    .open-slide a p {
        font-size: 40px;
        padding-top: 40px
    }

    .hamburger p {
        display: block
    }

    .hamburger {
        display: block;
        margin-left: 0;
        width: 53px
    }
}

@media screen and (max-width: 415px) {
    header {
        height: 45vh
    }

    .Title {
        font-size: 10px;
        margin-top: 0
    }

    .HomeBtn {
        margin-left: 0
    }

    .HomeBtn img {
        margin-left: 170px;
        margin-top: -50px;
        width: 45%
    }

    .Title h2 {
        font-size: 20px;
        margin: 40px 19px 0;
        position: absolute;
        text-align: center
    }

    .TitleBtn {
        font-size: 15px;
        margin: 250px 60px 0;
        padding: 15px 20px;
        text-align: center
    }

    .Top-Buttons {
        display: none
    }

    .open-slide a p {
        align-items: center;
        color: #fff;
        font-size: 35px;
        padding-top: 40px
    }

    .hamburger p {
        display: block
    }

    .hamburger {
        display: block;
        width: 53px
    }
}