header{ height: 100vh }

body{
    overflow: hidden;
}

.main-body{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.main-body > .snap{
    scroll-snap-align: start;
}

.Title{
    text-align: center;
    padding-top: 80px;
}

.Title img{ 
    animation: UpLogo 1s forwards;
    margin-top: 10vh;
}

.Title a{
    animation: FarLeft 2.3s;
    border: 2px solid;
    border-radius: 12px;
    padding: 15px 20px;
    font-size: 35px;
    display: inline-block;
    margin: -38px 0 55px;
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

.Title a:hover{
    transform: scale(1.2);
    background-color: white;
    color: black;
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

.Title h1, h2{ animation: Up 1s forwards }

.Title h3{
    color: rgb(200, 200, 200);
    margin-top: 18vh;
    animation: scrollanim 2.4s infinite;
}

.Title p{ display: inline }

.box{
    height: 100vh;
    width: 100%;
}

.box h3, .lastbox h3{
    padding: 100px 50px 20px;
    font-size: 70px;
}

.box p, .lastbox p{
    margin: 20px 50px;
    font-size: 25px;
}

.lastbox{
    height: 60vh;
    width: 100%;
}

.box li{
    font-size: 20px;
    margin:5px 100px;
    list-style: inside;
}

.box li:nth-child(1) { transition-duration: 1.4s }
.box li:nth-child(2) { transition-duration: 1.8s }
.box li:nth-child(3) { transition-duration: 2.2s }
.box li:nth-child(4) { transition-duration: 2.6s }
.box li:nth-child(5) { transition-duration: 3s }

.first p{
    text-align: left;
    padding-left: 20px;
    padding-top: 14px;
}

.purbar{
    background-image: linear-gradient(179deg, rgb(196, 68, 222), rgb(130, 26, 156));
    margin-left: 100px;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px white, 0 0 20px 2px rgb(59, 59, 59) inset;
    display: flex;
    justify-content: space-between;
}


.pinbar{
    background-image: linear-gradient(179deg, rgb(219, 50, 154), rgb(171, 27, 121));
    margin: 30px 100px;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px white, 0 0 20px 2px rgb(59, 59, 59) inset;
    display: flex;
    justify-content: space-between;
}

.pinbar:hover, .purbar:hover{
    transform: scale(1.05);
    transition: transform 0.5s;
}

.text{ display: flex }

.text img{
    margin-left: 100px;
    width: 150px;
    height: auto;
}

.text p{
    width: 60vw;
}