@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
    list-style: none;
    color: black;
    text-decoration: none;
    text-align: center;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 18px;
}

.main-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    gap: 30px;
}

.Rendering,
.LI,
.EWI {
    border-radius: 28px;
    background-color: #9cb1d0b0;
    margin: 0 80px 0 80px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.65);
    transition: transform 0.2s;
}

.Rendering:hover,
.LI:hover,
.EWI:hover{
    transform: scale(1.05);
}

.Rendering img,
.LI img,
.EWI img {
    width: 400px;
    margin-top: 30px;
    border-radius: 28px;
}

.Rendering h3,
.LI h3,
.EWI h3 {
    margin-left: 380px;
    transition: 0.6s ease;
    padding: 5px 5px 10px 0;
    border-radius: 8px 0 28px 0;
}

.Rendering h3:hover,
.LI h3:hover,
.EWI h3:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

@media screen and (max-width: 1780px){
    .main-body {
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 5%;
        width: 30vw;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 25vw;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 19vw;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}

@media screen and (max-width: 1200px){
    .main-body {
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 5%;
        width: 30vw;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 25vw;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 19vw;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}

@media screen and (max-width: 1060px){
    .main-body {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 9% 8%;
        width: 40vw;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 35vw;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 29vw;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}

@media screen and (max-width: 768px){
    .main-body {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 9% 5%;
        width: 80vw;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 70vw;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 60vw;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}

@media screen and (max-width: 415px){
    .main-body {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 10% 5%;
        width: 300px;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 240px;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 220px;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}

@media screen and (max-width: 365px){
    .main-body {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .Rendering,
    .LI,
    .EWI {
        margin: 0 3% 5%;
        width: 300px;
    }
    
    .Rendering img,
    .LI img,
    .EWI img {
        width: 250px;
        margin-top: 30px;
        border-radius: 28px;
    }
    
    .Rendering h3,
    .LI h3,
    .EWI h3 {
        margin-left: 220px;
        transition: 0.6s ease;
        padding: 0px 0 5px 0;
        border-radius: 8px 0 28px 0;
    }
}