table{
    border: 1px white solid;
    border-radius: 12px;
    margin: 0px 3%;
    padding: 5px 10px;
    overflow: visible;
    border-collapse: collapse;
}

h4{
    margin: 10px 0px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #222222;
}

.tr1{
    border: 1px white solid;
    border-radius: 12px;
}

.tr2{
    border: 1px white solid;
    border-radius: 12px;
}